.features-section {
  &__list {
    @extend %list;
    @extend %flex-c-c;
  }

  &__list-item {
    flex-basis: 270px;
  }

  &__list-item:not(:last-child) {
    margin-right: 30px;
  }

  &__descr {
    margin: 0;
    color: var(--text-color);
    line-height: 1.71;
  }

  &__icon-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: var(--section-light-background);
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
